@import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);
        
        .matrixWidget {
          background-color: white !important; 
          width: 100%; 
          font-weight: normal;
        }
        
        /* no pointer when matrixWidget not editable; in matrix-input.css .vue-input td */
        /* not implemented yet */
        #ARfixT1.vue-input td,
        #CLfixT1.vue-input td,
        #ARCLfixT1.vue-input td,
        #RESfixT1.vue-input td,
        /* #LOADfixT1_Output.vue-input td, */
        #UNIQfixT1.vue-input td,
        #IfixT1.vue-input td,
        #SfixT1.vue-input td,
        #ISfixT1.vue-input td,
        #AfixT1.vue-input td,
        #BfixT1.vue-input td,
        #ABfixT1.vue-input td { /* nur td funktioniert; tag: td; class: value-input, id: input[id^='fix'] */
        cursor: default !important;
       }
        
        .vue-input[id^='fix'] {
          cursor: default !important;
        }
        
        summary {
        cursor: pointer;
        outline: none;
        display: inline-block;
        vertical-align:top
        }

        details > summary.firstMeas::-webkit-details-marker {
        color: white;
        /* display:none; */
        }
        
        /*
        .tab-box {
        min-height: 20px;
        padding: 19px;
        background-color: #e3e3e3;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        }
        */

        .heading {
        font-variant: small-caps;
        font-size: 17px;
        /*color: #7000a8;*/
        font-weight: bold;
        }

        .fa-pen-fancy {
        color:#7000a8;
        }

        .fa-magnifying-glass-chart {
        color:#7000a8;}

        .fa-magnifying-glass-dollar {
        color:#7000a8;
        }

        .fa-circle-question {
        float: right;
        }

        .hovertext {
        position: relative;
        border-bottom: 1px dotted black;
        }

        .hovertext:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        background-color: #333333;
        color: #fff;
        text-align: left;
        border-radius: 5px;
        padding: 10px 10px;
        transition: opacity 1s ease-in-out;
        position: absolute;
        z-index: 2;
        width: 400px;
        }

        .hovertext:hover:before {
        opacity: 1;
        visibility: visible;
        }
        
        .main-box {
        min-height: 20px; 
        padding: 19px; 
        margin-bottom: 20px; 
        /*background-color: #f5f5f5; 
        border: 1px solid #e3e3e3; 
        border-radius: 4px; 
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
        }

        .input-box {
        min-height: 20px;
        padding: 19px ;
        margin-bottom: 20px;
        background-color: #f7e6ff;/*#e3e3e3;*/
        border: 1px solid #f7e6ff;/*#e3e3e3;*/
        border-radius: 20px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        }
        
        .output-box {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #fef9e6;
        border: 1px solid #fef9e6;
        border-radius: 20px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        }
        
        .error-box {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #fdb5c7;
        border: 1px solid #fdb5c7;
        border-radius: 20px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        }
        
        .warn-box {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #ffdab3;
        border: 1px solid #ffdab3;
        border-radius: 20px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        }

        .selectize-input {
        width: 11vw;
        }
        
        /* remove arrows for numericInput, see: https://stackoverflow.com/questions/70974838/removing-up-down-arrows-from-numericinput-r-shiny 
        #alpha::-webkit-outer-spin-button,
        #alpha::-webkit-inner-spin-button {
        -webkit-appearance: none;
        }*/
        
        #alpha.control-label:hover{
          background-color: unset !important;
          color: unset !important;
        }*/
        
        input[id^='target'] { /* select all input elements with id prefix target; see: https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors */
        margin-top:-3px;
        position: absolute;
        /* left: 15px; */
        z-index: 99999;
        }
        
        .unit {
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #e3e3e3;
        color: #848484;
        padding: 6px 12px;
        margin-top: 25px;
        }
        